@charset "utf-8";

@media screen and (max-width: 1024px){
    #header .left{
        display: none;
    }

    #header .right{
        height: 800px;
    }

    .slide_img_title{
        right: 0;
        left: 0;
        text-align: center;
        
    }

    .slide_img_title > h1{
        font-size: clamp(40px, 8vw, 95px);
    }


    .right .button{
        display: none;
    }

    .h_inner{
        width: 100%;
    }

    .nav{justify-content: space-between;}

    .nav .main_menu{
        display: none;
    }

    .main_menu{
        justify-content: center;
    }

    .nav .logo{
        display: block;}

    .nav .logo img{
        height: 150px;
        /* border: 1px solid rebeccapurple; */
    }
    

    .m_cursor{
        display: block;
    }

    .m_right .m_right_menu{
        display: block;
    }

    /* container 영역*/

    .container{
        margin: 0 auto;
    }
    
    .cont_1{
        width: 90%;
        flex-direction: column-reverse;
        /* border: 1px solid red; */
        height: auto;
        padding-top: 80px;
    }

    .c1_left{
        margin-left: 0;
        width: 100%;
        justify-content: center;
    }

    .c1_left h2{
        margin-top: 30px;
    }

    .c1_left > p{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .con_more{
        width: 150px;
        height: 40px;
        line-height: 40px;
        margin-bottom: 50px;
    }
    
    .c1_right{
        width: 100%;
        margin: 0;
    }

    .cont1_bg{
        display: none;
    }

    .cont_2{
        max-height: 500px;
    }

    .slick-current .c2_title{
        transform: translateX(10%);
    }

    .c2_title{
        bottom: 30%;
    }

    .c2_title > p{
        display: none;
    }

    .cont_3{
        width: 90%;
        height: 500px;
    }

    .cont_3 .c3_title h2{
        margin-top: 80px;
    }

    .cont_3 .c3_title p{
        margin-top: 100px;
    }

    .c3_button{
        width: 100px;
        height: 100px;
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);
        right: 30%;
        z-index: 500;
        filter: invert(100%);
        right: 20%;
        
    }

    .cont_4_inner{
        margin: 50px auto
    }

    .c4_contents{
        flex-direction: column;
        margin-top: 50px;
    }

    .c4_contents li{
        width: 100%;
        margin-bottom: 50px;
        padding-left: 0;
    }

    .footer{
        height: 340px;
        padding-bottom: 30px;
    }

    .foot_inner{
        flex-direction: column-reverse;
        align-items: start;
    }

    .c4_button{
        display: none;
    }


    .f_left{
        margin-right: 0;
    }

    .f-right{
        display: flex;
        flex-flow: row-reverse;
        align-items: end;
    }
    
    .sns{
        margin: 0 0 20px 30px;
    }




}/* ipad pro - 1024x1366 */

@media screen and (max-width: 820px){


    .cont_2{
        display: none;
    }

    .m_c2_right{
        display: block;
        padding-top: 80px;
        margin-bottom: 80px;
    }

    .slick-slider{display: none;}


    .cont_3{
        padding-top: 50px;
    }

    .cont_3 .c3_title{
        text-align: center;
        margin-left: 0px;
    }

    .cont_3 .c3_title h2{
        margin-top: 50px;
        font-size: clamp(20px, 4vw, 70px);
    }

    .cont_3 .c3_title p{
        display: none;
    }

    .c3_button{
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 80px;
        right: 20%;
    }

    .cont_3{
        height: 300px;
    }

    .icon_img{
        height: 50%;
        top: -18%;
        right: -60px;
    }

    .cont_3{
        padding-top: 0;
    }







}/* ipad air - 820x1180px */

@media screen and (max-width: 430px){

    .slide_img_title > h1{
        font-size: clamp(40px, 8vw, 70px);
    }

    .c1_img{
        height: 200px;
    }

    .cont_bg{
        padding-bottom: 0;
    }

    .cont_3 .c3_title h2{
        white-space: nowrap;
    }

    .c3_button{
        width: 60px;
        height: 60px;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
    }

    .icon_img{display: none;}

    

}/* iphone 14 pro max - 430x932 px*/