@charset "utf-8";

header{
    /* display: flex; */
}



.top{
    height: 420px;
    background: url(../img/main_visual_01.jpg) no-repeat top right;
}


section{
    width: 100%;
}

.menu{
    width: 100%;
    max-width: 1300px;
    height: 100px;
    display: flex;
    margin: 0 auto;
    /* border: 1px solid red; */
    line-height: 100px;
    font-size: 20px;
}

.menu div{
    width: calc(100% / 5);
    text-align: center;
}

.menu div a{
    display: block;
}

section .back{
    background-image: url("../img/back.jpg") ;
    background-repeat: no-repeat;
    background-position:  center center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
    
}

section .back::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 0;
}


section h1{
    /* margin: 0 auto; */
    /* border: 1px solid red; */
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 100px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto 100px;
    /* left: 50%;
    top: 100px;
    transform: translateX(-50%); */
    z-index: 1;
    
}

.research{
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 1000px;
    /* border: 1px solid blue; */
}

.research .left{
    background-color: pink;
    width: 50%;
}

.research .left .img{
    background: url("../img/Untitled-1.jpg")no-repeat center center;
    position: absolute;
    background-size: cover;
    top: 280px;
    left: 0;
    width: 50%;
    height: 1000px;
}

.research .left p{
    position: absolute;
    color: white;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 7em;
    left: 45%;
}


.research .right{
    position: absolute;
    top: 380px;
    left: 50%;
    width: calc(1300px / 2);
    /* background-color: skyblue; */
    padding-left: 100px;
    /* border: 1px solid white; */
    color: white;
}

.research .right h2{
    font-size: 40px;
}
.research .right .number{
    font-size: 20px;
}

.research .right p{
    font-size: 20px;
    height: 450px;
    margin: 50px 0 0 0;
    text-align: justify;
    /* border: 1px solid red; */
}

.research .right div{
    margin-top: 50px;
    opacity: 0.5;
}

.research .right div.origin{
    font-size: 18px;
}

.button{
    width: 200px;
    height: 100px;
    line-height: 100px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 100px;
    right: 310px;
}

.button .prev{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
}

.button .prev span:nth-child(1){
    position: absolute;
    top: 22px;
    left: 45%;
    transform: translateX(-50%) rotate(-40deg);
    width: 25px;
    height: 2px;
    background-color: white;
}

.button .prev span:nth-child(2){
    position: absolute;
    bottom: 22px;
    left: 45%;
    transform: translateX(-50%) rotate(40deg);
    width: 25px;
    height: 2px;
    background-color: white;
}

.button .next{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
}

.button .next span:nth-child(1){
    position: absolute;
    top: 22px;
    left: 55%;
    transform: translateX(-50%) rotate(40deg);
    width: 25px;
    height: 2px;
    background-color: white;
}

.button .next span:nth-child(2){
    position: absolute;
    bottom: 22px;
    left: 55%;
    transform: translateX(-50%) rotate(-40deg);
    width: 25px;
    height: 2px;
    background-color: white;
}