@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Play:wght@400;700&display=swap');

svg{width: 20px; height: 20px; filter: invert(80%);}
table{border-collapse: collapse;}
body{
    font-family:  "Play","Noto Sans KR", sans-serif;
    overflow-x: hidden;
    font-size: 10px;
    color: #333;
}

header{
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

#header .left{
    height: 420px;
    width: 260px;
    /* border: 1px solid red; */
    position: relative;
    left: 0;
    top: 0;
}

.left .logo{}

.left .left_back{
    text-align: center;
    /* border: 1px solid blue; */
    height: 100vh;
    position: fixed;
    width: 260px;
    /* z-index: -1; */
    background-color: white;
}

.left .left_back .logo a{
    display: block;
    height: 150px;
    background: url(../img/icon_card_1_14.gif)no-repeat center center;
    background-size: contain;
}

.left .left_back .title_icon{
    background: url(../img/pos.gif)no-repeat center center;
    background-size: contain;
    position: absolute;
    width: 28%;
    height: 195%;
    left: -4px;
    bottom: 0;
    opacity: 0.15;
    z-index: 50;
}

.left .left_back .left_back_icon1{
    background: url(../img/po1.png.gif)no-repeat center center;
    background-size: cover;
    width: 180px;
    height: 180px;
    position: absolute;
    top: -30px;
    left: 120px;
    transform: rotate(90deg);
    opacity: 40%;
    z-index: -1;
    animation: icon_move1 7s infinite ease-in-out alternate;
}

.left .left_back .left_back_icon2{
    background: url(../img/po1.png.gif)no-repeat center center;
    background-size: cover;
    height: 180px;
    width: 180px;
    position: absolute;
    top: 270px;
    left: -30px;
    transform: rotate(-90deg);
    opacity: 40%;
    z-index: 50;
    animation: icon_move2 7s infinite ease-in-out alternate;
}

.left .left_back .left_back_icon3{
    background: url(../img/po1.png.gif)no-repeat center center;
    background-size: cover;
    height: 180px;
    width: 180px;
    position: absolute;
    top: 480px;
    right: -50px;
    transform: rotate(-20deg);
    opacity: 40%;
    z-index: 50;
    animation: icon_move2 7s infinite ease-in-out alternate;
}

.left .left_back .left_back_icon4{
    background: url(../img/po1.png.gif)no-repeat center center;
    background-size: cover;
    height: 180px;
    width: 180px;
    position: absolute;
    top: 780px;
    left: 20px;
    transform: rotate(60deg);
    opacity: 40%;
    z-index: 50;
    animation: icon_move1 7s infinite ease-in-out alternate;
}

@keyframes icon_move1{
    0%,100%{transform: translateY(0%) rotate(0deg);}
    50%{transform: translateX(5%) translateY(5%) rotate(15deg);}
}

@keyframes icon_move2{
    0%,100%{transform: translateY(0%) rotate(0deg);}
    50%{transform: translateX(-5%) translateY(-5%) rotate(-15deg);}
}

#header .right{
    width: calc(100% - 260px);
    height: 420px;
    position: relative;
    z-index: 100;
    overflow: hidden;
}

.slide_img{
    width: 100%;
    height: 420px;
    z-index: 100;
}

@keyframes move {
    0%{transform: scale(1);}
    100%{transform: scale(1.2);}
}

.slide_img_title{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    color: white;
    text-shadow: 1px 1px 2px black;
    white-space: nowrap;
    z-index: 500;
    text-align: left;
}

.slide_img_title > h1{
    font-size: clamp(70px, 5vw, 95px);
}

.slide_img_title > p{
    font-size: clamp(10px, 2vw, 16px);
}

.slide_move{}

.slide_move li{
    width: 100%;
    height: 420px;
    position: absolute;
    /* border: 1px solid green; */
}

.slide_move .slide_move_img1{
    background: url(../img/main22.jpg) no-repeat top center;
    background-size: cover;
    animation: move 7s infinite;
}
.slide_move .slide_move_img2{
    background: url(../img/main1.jpg) no-repeat top center;
    background-size: cover;
    animation: move 7s infinite;
}
.slide_move .slide_move_img3{
    background: url(../img/mian33.jpg) no-repeat top center;
    background-size: cover;
    animation: move 7s infinite;
}


.h_inner{
    position: absolute;
    top: 0;
    right: 0;
    height: 150px;
    max-width: 1620px;
    z-index: 500;
    padding-right: 50px;
}

nav{
    display: flex;
    justify-content: end;
}

.nav .logo{
    display: none;
    width: 260px;
    height: 150px;
}

.nav .logo a{
    background: url(../img/iconlogo.png)no-repeat center center;
    display: block;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.main_menu{
    height: 150px;
    display: flex;
    justify-content: right;
    align-items: center;
    /* border: 1px solid red; */
}

.main_menu > li{position: relative;}

.main_menu > li > a{
    display: block;
    color: white;
    font-size: 1.8em;
    /* border: 1px solid red; */
    margin: 30px;
    width: 70px;
    height: 40px;
    line-height: 40px;
    border-bottom: 3px solid rgb(151, 199, 151, 0);
    text-align: center;
    /* position: relative; */
    text-shadow: 0px 0px 1px black;
}

.line-container {
    position: relative;
    left: 30px;
    top: -32px;
    width: 70px;
    height: 3px;
    overflow: hidden;
}

.line {
    position: absolute;
    height: 70px;
    width: 0;
    background-color: rgb(100, 194, 201);
    left: 50%;
    transform: translateX(-50%);
    animation: expandSides 0.5s forwards;
    display: none;
}

@keyframes expandSides {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
/* .top{
    height: 420px;
    background: url(../img/main_visual_01.jpg) no-repeat top right;
} */

.sub{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    /* height: auto; */
    font-size: 16px;
    color: white;
    /* border: 1px solid red; */
    display: none;
    padding: 20px;
    background-color:  rgb(100, 194, 201);

}

.sub li{
    margin-bottom: 10px;
    /* border: 1px solid tan; */
}

.sub li:last-child{margin-bottom: 0 !important}
.sub li > a{
    display: block;
    color:  rgb(181, 244, 248);
    /* opacity: 0; */
    /* border: 1px solid rgb(68, 0, 255); */
    /* height: auto; */
    text-align: center;

}

.sub li:hover a{
    color: white;
}

.site_map{
    margin: 0 0px 0 20px;
    min-width: 125px;
    height: 34px;
    line-height: 34px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;

}

.site_map div{
    width: 30px;
    height: 34px;
    /* border: 1px solid black; */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5px;
    margin-left: -10px;
}
.site_map div span:nth-child(1){
    display: block;
    width: 14px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
}
.site_map div span:nth-child(2){
    display: block;
    width: 14px;
    height: 1px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.site_map div span:nth-child(3){
    display: block;
    width: 14px;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
}


.site_map p{
    font-size: 12px;
    color: black;
    /* text-align: center; */
    /* border: 1px solid gold; */
}



.lang{
    min-width: 34px;
    height: 34px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    margin-left: 20px;
    font-size: 12px;
    font-weight: bold;
}
.lang div a{
    width: 50%;
    height: 50%;
    background:url("../img/icon_lang.gif") no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid rebeccapurple; */
    z-index: 100;
}

.lang ul{
    width: 34px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 30px 30px;
    position: absolute;
    top: 50%;
    display: none;
}

.lang ul li{
    text-align: center;
    margin: 5px;
}

.lang ul li:nth-child(1){
    margin-top: 20px;
}




/* 모바일 삼선버튼 */

.m_cursor{
    display: none;
    position: absolute;
    top: 65px;
    right: 50px;
    z-index: 1000;
    width: 26px;
}
.m-btn{
    width: 26px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
    transition: all 0.2s;
}

.m-btn span.m_line{
    display: block;
    width: 26px;
    height: 2px;
    /* margin: 5px auto; */
    background-color: rgb(255, 255, 255);
    transition: all 0.3s;
}

.m_cursor.act{
    top: 30px;
    right: 20px;
}

.m-btn.act{
    animation: smallbig 0.6s forwards;
    width: 28px;
    height: 28px;
}

.m-btn.act span:nth-child(1){
    transform: translateY(13px) rotate(45deg);
    transition-delay: 0.2s;
    width: 26px;
    background-color:  #333;
}

.m-btn.act span:nth-child(2){
    opacity: 0;
    transition-delay: 0.2s;
}

.m-btn.act span:nth-child(3){
    width: 26px;
    transform: translateY(-13px) rotate(-45deg);
    transition-delay: 0.2s;
    background-color:  #333;

}

@keyframes smallbig{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(0);
    }
}

.m_right{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 1000;

}

.m_right .m_right_menu{
    position: absolute;
    top: 0;
    right: -390px;
    background-color: #ffffff;
    width: 390px;
    height: 100vh;
    transition: all 0.5s;
    overflow-y: scroll;
    display: none;
}

.m_right .m_right_menu.on {
    right: 0;
    transition: all 0.5s;
}


.m_logo{
    height: 105px;
}

.m_logo a{
    display: block;
    background: url(../img/iconlogo.gif)no-repeat center center;
    background-size: contain;
    /* border: 1px solid red; */
    width: 200px;
    height: 100px;
    margin-left: 20px;
}


.m_util {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 68px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}


.m_util > li{
    width: 50%;
    display: flex;
    /* border: 1px solid red; */
    height: 65px;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
    font-size: 1.4em;
    color: #666;
}

.m_util > li:last-child{border-right: none;}

.m_util > li> a{
    display: block;}

.m_util > li> a span{
    display: block;
}

.m_util > li> a:hover{
    color: #555
}

.m_sub_util{
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.m_sub_util li{}

.m_sub_util li a{
    display: block;
    font-size: 12px;
    color: #666;
    font-weight: 600;
    margin: 0 15px;
    
}

.m_util_icon{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 310px;
    height: 33px;
    /* border: 1px solid red; */
}

.m_util_icon li{
    width: calc(100% / 2 - 5px);
}

.m_util_icon li a{
    display: block;
}

.m_util_icon li a img{
    display: block;
    height: 33px;
    width: 100%;
}

.m_util_ipin{
    text-align: center;
    margin-top: 10px;
}

.m_search{
    position: relative;
    max-width: 310px;
    margin: 15px auto;
}

.m_search .search_box{
    border: 3px solid #4399df;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding-left: 20px;
    
}

.m_search a{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 25px;
    height: 25px;
    /* border: 1px solid rgb(0, 255, 98); */
}

.m_search a img{
    width: 100%;
}


.m_menu{
    margin-top: 10px;
    max-width: 310px;
    margin: 0 auto;
}

.m_menu > li{}

.m_menu > li > a{
    display: block;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #d1d1d1;
    /* border: 1px solid red; */
    font-size: 20px;
}
.m_menu > li .m_sub{
    margin-top: 10px;
    display: none;
}

.m_menu > li .m_sub li{}
.m_menu > li .m_sub li a{
    padding: 10px 0;
    display: block;
    color: #333;
    font-size: 16px;
}

.m_menu > li .m_sub li a:hover{
    color: #4399df;
}

.m_menu > li > a{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid wheat; */
}

.m-sub_btn{
    /* border: 1px solid red; */
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.m-sub_btn span.m_sub_line{
    display: block;
    width: 10px;
    height: 2px;
    transition: all 0.3s;
    border: 1px solid  #d1d1d1;
}

.m-sub_btn span:nth-child(1){
    transition-delay: 0.2s;
}

.m-sub_btn span:nth-child(2){
    transform: translateY(-2px) rotate(90deg);
    transition-delay: 0.2s;
}

.m-sub_btn.on span:nth-child(1){
    transition-delay: 0.2s;
}

.m-sub_btn.on span:nth-child(2){
    transform: translateY(-2px) rotate(0deg);
    transition-delay: 0.2s;
}

.contents{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.cont_menu{
    width: calc(100% - 260px -50px);
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 260px;
    line-height: 100px;
    font-size: clamp(12px, 2vw, 20px);
}

.cont_menu div{
    width: calc(80% / 6);
    text-align: center;
    border-bottom: 3px solid rgb(100, 194, 201, 0);
    transition: all 0.5s;
}

.cont_menu div a{
    display: block;
}

.cont_menu div.on{
    border-bottom: 3px solid rgb(100, 194, 201);
}

.cont_menu_line {
    position: relative;
    left: 0;
    bottom: 3px;
    width: 100%;
    margin: 0 auto;
    height: 3px;
    overflow: hidden;
}

.cont_line {
    background-color: rgb(100, 194, 201);
    position: absolute;
    height: 3px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    animation: expandSides 0.5s forwards;
    display: none;
}

@keyframes cont_line {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.cont1{
    width:  90%;
    margin: 0 auto;
    max-width: 1300px;
    margin-bottom: 100px;
    padding-left: 260px;
    /* border: 1px solid red; */
}


.cont1 h1{
    margin-top: 100px;
    text-align: center;
    font-size: clamp(30px, 4vw, 50px);
    font-weight: normal;
}

.cont1_row_1{}

.board_table{
    width: 100%;
    margin-top: 100px;
}

.board_table caption{
    /* visibility: hidden; */
}

.board_table thead{
    font-size: clamp(10px, 2vw, 20px);
    text-align: center;
    border-top: 2px solid #333;
    border-bottom: 1px solid #333;
}

.board_table tbody{
    font-size: clamp(10px, 2vw, 20px);
    text-align: center;
    text-transform: uppercase;
    color: #333;
}

.board_table tbody tr{
    border-bottom: 1px solid #ddd;
}

.board_table tbody tr:hover{
    background-color: #ddd;
}

.board_table th, .board_table td{
    padding: 22px 0;
}

.board_table td span{
    color: #e65d5d;
}

.board_table td:nth-child(2){
    text-align: left;
    text-indent: 20px;
}

.cont1_row_2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.search_box{}

#search_window{
    width: 110px;
    height: 28px;
    text-indent: 10px;
    display: inline-block;
}

.search_select_box{
    display: none;
    /* display: inline-block; */
    position: relative;
}

.search_select_box span{
    display: inline-block;
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #e65d5d;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.search_select_list{
    position: absolute;
    top: 105%;
    left: 0;
    width: 100%;
    display: none;
}

.search_select_list li{
    background-color: #e65d5d;
    font-size: 12px;
    color: white;
    padding: 6px 0;
    text-indent: 10px;
    cursor: pointer;
}

.write_box{}

.write_box a{
    display: block;
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color:  rgb(100, 194, 201);
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.cont1_row_3{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.cont1_row_3 span{
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    /* background-color: rgb(100, 194, 201); */
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.cont1_row_3 span.list_prev_btn{
    background-image: url(../img/free-icon-left.png);
    filter: invert(30%);
    margin-right: 50px;
}

.cont1_row_3 span.list_next_btn{
    background-image: url(../img/free-icon-right.png);
    filter: invert(30%);
    margin-left: 50px;
}

.cont1_row_3 a{
    width: 28px;
    height: 28px;
    border: 1px solid rgb(100, 194, 201);
    text-align: center;
    line-height: 28px;
    color: rgb(100, 194, 201);
    margin: 0 5px;
    transition: all 0.3s;
    font-size: 12px;
}

.cont1_row_3 a:hover{
    background-color: rgb(100, 194, 201);
    color: white;
}

.footer{
    background-color: #061727;
    height: 300px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    color: white;
    position: relative;
}

.foot_inner{
    width: 90%;
    height: 100%;
    max-width: 1620px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f_left{
    /* border: 1px solid white; */
    margin-right: 10vw;
}

.f_gnb{
    display: flex;
    font-size: clamp(10px, 2vw, 18px);
    white-space: nowrap;
}

.f_gnb li{
    margin-right: 20px;
    position: relative;

}

.f_gnb li a::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: rgb(114, 114, 114);
    right: -10px;
    top: 8px;
}

.f_gnb li:last-child a::after{display: none;}


.address{
    margin-top: 50px;
    color: #999;
    font-size: clamp(6px, 1.5vw, 14px);
}

.address p{
    margin-top: 20px;
}

.sns{
    display: flex;
    justify-content: center;
    filter: invert(100%);
}

.sns li{
    margin: 10px;
    width: 18px;
    height: 18px;
}

.sns li a{
    display: block;
    width: 18px;
    height: 18px;
}

.sns li:nth-child(1){background: url(../img/sns1.png)no-repeat center center; background-size: cover;}
.sns li:nth-child(2){background: url(../img/sns2.png)no-repeat center center; background-size: cover;}
.sns li:nth-child(3){background: url(../img/sns3.png)no-repeat center center; background-size: cover;}


.f_logo a{
    display: block;
    background: url(../img/iconlogo.png)no-repeat center center;
    background-size: cover;
    width: 150px;
    height: 150px;
    /* border: 1px solid red; */
}
